<header>
  <a class="absolute bottom-10 right-10 flex" href="https://www.phoenixframework.org/">
    <img src={~p"/images/logo.svg"} width="36" />
    <p class="bg-brand/5 text-brand rounded-full px-2 font-medium leading-6">
      Built with Phoenix v{Application.spec(:phoenix, :vsn)}
    </p>
  </a>
</header>
<main class="w-full max-h-screen">
  {@inner_content}
</main>
